.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: transparentize(black,.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &__spinner {
    color: whitesmoke;
    font-size: 4rem;
  }
}