.countryTable {
  width: 100%;
  margin: auto;

  &__table {
    th {
      text-align: left;
      padding-right: 2rem;
      text-transform: capitalize;
    }
    td {
      text-align: right;
    }
  }
}
