@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("./OpenSans-Regular.ttf"),
  local('Open Sans Regular'),
  local('OpenSans-Regular'),
  url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("./OpenSans-Bold.ttf"),
  local('Open Sans Bold'),
  local('OpenSans-Bold'),
  url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}