.errorList {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  max-width: 60rem;
  list-style: none;

  &__item {
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: .1rem;
    border-bottom: 2px solid var(--white);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }
  &__errorMessage{
    font-size: 1.5rem;
  }
  &__errorMessage,
  &__errorClose {
    color: var(--white);
  }
  &__errorClose {
    position: absolute;
    right: .8rem;
    top: 50%;
    transform: translateY(-50%);
  }
}