.Header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8rem;
  padding: 1rem 2rem;
  background-color: var(--dark);

  &__logo {
    height: calc(100% - 1rem);
  }
  &__title {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    margin: 0;
  }
  &__btn {
    background-color: transparent;
    border: 0;

    &:focus {
      outline: none;
    }
  }
  &__icon {
    color: var(--white);
    font-size: 3.5rem;
  }
}
