.Footer {
  display: inline-flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 8rem;
  padding: 0;
  background-color: var(--dark);

  &__btn {
    flex: 1;
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active,
    &.active {
      outline: none;
      background-color: var(--gray);
    }
  }

  &__icon {
    color: var(--white);
    font-size: 3.5rem;
  }
}
