.App {
  text-align: center;
  max-width: 60rem;
  margin: auto;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.App-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
  flex: 1;
}
