@import "./fonts/open-sans";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  font-family: inherit;
}

html {
  font-size: 62.5%; // means 10px = 1rem
}

body {
  background-color: #1b1d22;
  font-size: 2rem;
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
