.countrySelect {
  background: transparent;
  padding: 0.25rem 2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border: 2px solid var(--gray);
  font-size: 1.8rem;

  &:focus,
  &:active {
    outline: none;
  }

  &__option {
    background: var(--secondary);
    font-size: 1.6rem;
  }
}
